<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Memorize</title>
	<link rel="stylesheet" href="/static/game-style.css">
</head>
<body>
	<div id="header-wrap">
	<button class="back" style="display: none;"></button>
	<a id="back-link" href="http://localhost:5000"><img src="/static/BDL.png"></a><h3>Memorizing</h3>
	</div>
	<div class="line">
	</div><br>
	<div class="header" style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
	<h3 id="quote">{{ quote }}</h3>
	<span><input type="text" id="letter"></span>
	</div>
	<div class="container">
		{% for verse in text %}
		<div class="content">
		<p>
		<span id="verse">{{ verse[2] }}</span>
		<span id="text">{{ verse[3] | safe }}</span>
		</p>
		</div>
		{% endfor %}
	</div>
	<div class="footer">
	<h3 id="tasks">Activities</h3>
		<div class="tasks">
			<div class="progress">
			<div class="task-wrap">
			<button id="first-letter">first</button>
			<span id="kpi">0/1</span>
			</div>
			</div>
			<div class="progress">
			<div class="task-wrap">
			<button id="hide-words">hide</button>
			<span id="kpi">0/1</span>
			</div>
			</div>
			<div class="progress">
			<div class="task-wrap">
			<button id="pick-words">pick</button>
			<span id="kpi">0/1</span>
			</div>
			</div>
			<div class="progress">
			<div class="task-wrap">
			<button id="train">train</button>
			<span id="kpi">0/0</span>
			</div>
			</div>
		</div>
		<div class="guess-letter-wrap" style="display:none;">
			<input type="text" id="letter"><br>
			<button id="show-keys">Show keyboard</button>
			<button id="guess-letter-reset"></button>
		</div>
		<div class="guess-word-wrap" style="display:none;">
			<div class="options">
			</div>
			<button id="guess-reset" style="display:none;height:35px"></button>	
			
		</div>
		<div class="hide-wrap" style="display:none;">
			<button id="hide">Hide</button>
			<button id="rand-reset"></button>
		</div>
	<div class="train-wrap" style="display: none;">
	<button id="toggle-train" >
		Toggle
	</button>
	</div>
	</div>
	<script src="/static/utils.js" type="module"></script>
	<script src="/static/index.js" type="module"></script>
</body>
</html>
