<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
body {
	display: flex;
	flex-direction: column;
	height:90vh;
	background-color: rgb(18,18,18);
	color:white;
}

.container {
	height:76%;
	background: transparent;
	margin-top: 4%;
	overflow-x: hidden;
	word-wrap: break-word;
}

#chapter {
	font-size: 1.5em;

}

#verse {
	font-size: 0.8em;
	text-align: center;
	vertical-align: middle;
	padding-right: 4px;
}

#text {
	font-size: 1.3em;
}
.hidden {
	filter:blur(6px);
}
.footer {
	height:20%;
	border: 1px solid black;
}
	</style>
	<title>Memorize</title>
</head>
<body>
	<a href="http://localhost:5000">Back</a>
	<div class="container">
		<span id="chapter">{{ chapter }}</span>
		{% for verse in text %}
		<div class="content">
		<p>
		<span id="verse">{{ verse[2] }}</span>
		<span id="text">{{ verse[3] | safe }}</span>
		</p>
		</div>
		{% endfor %}
	</div>
	<div class="footer">
	<h3>Activities</h3>
		<div class="tasks">
			<button id="first-letter">first</button>
			<button id="random-word">random</button>
			<button id="pick-words">pick</button>
			<button class="train">train</button>
		</div>
		<div class="first-letter-wrap">	
		</div>
		<div class="guess-word-wrap">
			
		</div>
		<div class="hide-wrap">
			<button id="hide">Hide</button>
			<button id="rand-reset">reset</button>
		</div>
	</div>
	<script src="/static/utils.js" type="module"></script>
	<script src="/static/index.js" type="module"></script>
</body>
</html>
