<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<link rel="stylesheet" href="/static/style-render.css">
<body>
	<span id="chapter">
		<span>
		{{ book  }}  
		</span>
		{{ chapter }}
	</span>	
	{% for verse in verses %}
	<div class="content">
	<p>
		<span class="verse">{{ verse[2] }}</span>
		<span class="text">
			{{ verse[4]|safe }}
		</span>
	</p>
	</div>
	{% endfor %}
</body>
</html>
